* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  --font-size: 2rem;
}

body {
  background: #e5e5e5;
}

input,
button {
  font-size: var(--font-size);
}

.mb-2 {
  margin-bottom: 2rem;
}
